body {
  font-family: sans-serif;
  background: #e9f6ff; 
  text-align: center;
  padding: 25px;
}

.logo {
  width: 120px;
  margin: 25px auto;
  display: block;
}

.title-text {
  font-size: 22px;
  margin-bottom: 30px;
  color: #1e3358;
  font-weight: bold;
}

button {
  width: 260px;
  padding: 16px;
  margin: 12px 0;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background: #1e3358; 
  color: white;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
}

button:hover {
  background: #152440;
}

#counter {
  margin-top: 20px;
  font-size: 18px;
  color: #1e3358;
  font-weight: bold;
}

.popup {
  background: white;
  padding: 30px;
  border-radius: 18px;
  width: 90%;
  max-width: 350px;
  margin: 30px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  display: none;
}

.popup-text {
  font-size: 18px;
  color: #1e3358;
}

.popup button {
  width: 180px;
  margin-top: 10px;
}

.success {
  color: green;
  font-size: 20px;
  font-weight: bold;
}